<!DOCTYPE html>
<html lang="en" style="height: 100%">

{% load i18n static %}

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Новостной сайт{% endblock %}</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>

    {% block extrahead %}{% endblock %}
    {% block extrastyles %}{% endblock %}
    {% block extrascripts %}{% endblock %}
</head>
<body style="height: 100%">

    {% block top_bar %}{% include 'includes/top_bar.html' %}{% endblock %}
    <div style="height: 80%">
      {% block header %}{% endblock %}
      {% block beforecontent %}{% endblock %}
      {% block content %}{% endblock %}
      {% block aftercontent %}{% endblock %}
      {% block footer %}{% endblock %}
      {% block nav %}{% endblock %}
      {% block additions %}{% endblock %}
    </div>

  {% block footer_extrascripts %}{% endblock %}
</body>
</html>